.easy-upload {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #c0ccda;
}
.easy-upload ul,
.easy-upload p {
  margin: 0;
  padding: 0;
}
.easy-upload .over-hidden {
  overflow: hidden;
}
.easy-upload .no-select {
  user-select: none;
}
.easy-upload .no-border {
  border: none;
}
.easy-upload .pointer {
  cursor: pointer;
}
.easy-upload .radius {
  border-radius: 5px;
}
.easy-upload .white {
  color: #fff;
}
.easy-upload .blue {
  color: #409eff;
}
.easy-upload .bg-blue {
  background-color: #409eff;
}
.easy-upload .red {
  color: #f00;
}
.easy-upload .bg-red {
  background-color: #f00;
}
.easy-upload .green {
  color: #13ce66;
}
.easy-upload .bg-green {
  background-color: #13ce66;
}
.easy-upload .yellow {
  color: #FF8C00;
}
.easy-upload .bg-yellow {
  background-color: #FF8C00;
}
.easy-upload .btns {
  margin-bottom: 10px;
}
.easy-upload .msg {
  margin-left: 20px;
  background-color: #eee;
}
.easy-upload .file-li {
  margin-top: 5px;
  height: 60px;
  list-style: none;
  border: 1px solid #c0ccda;
}
.easy-upload .info {
  box-sizing: border-box;
  float: left;
  width: 100%;
  padding: 10px 70px;
}
.easy-upload .name-size {
  float: left;
}
.easy-upload .f-size {
  font-size: 12px;
  margin-right: 5px;
}
.easy-upload .f-name {
  font-style: normal;
  font-weight: bold;
}
.easy-upload .tips {
  float: right;
}
.easy-upload .wrap {
  margin-top: 8px;
  width: 100%;
  height: 5px;
  background-color: #eee;
}
.easy-upload .progress {
  width: 0;
  height: 100%;
}
.easy-upload .pic-box {
  float: left;
  margin-left: -100%;
  width: 60px;
  height: 60px;
}
.easy-upload .icon::after {
  content: 'File';
  display: block;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
}
.easy-upload .pic {
  display: block;
  margin: 5px 0 0 5px;
  width: 50px;
  height: 50px;
  background-size: 100%;
}
.easy-upload .li-btns {
  float: right;
  margin-left: -60px;
  width: 60px;
  height: 100%;
}
.easy-upload .checone {
  float: left;
  margin-top: 25px;
}
.easy-upload .deleone {
  float: right;
  width: 0;
  height: 0;
  border-top: 20px solid #f00;
  border-right: 20px solid #f00;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
}
.easy-upload .deleone::after {
  content: 'X';
  display: block;
  margin-top: -20px;
  font-size: 15px;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
.easy-upload .new {
  display: inline-block;
  animation: shake 0.5s;
  animation-iteration-count: 1.5;
  animation-timing-function: ease-in-out;
}
