<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>easyUpload.js</title>
    <link rel="stylesheet" href="<%= css %>">
</head>
<body>
    <div id="easy1" class="easy-upload">
        <!-- <span class="message-box">没有选中有效文件</span>
        <input type="file" name="file" inputid="easy1" class="input-file" multiple accept=".jpg,.npg,pdf">
        <div class="btn-list">
            <div btntype="select" class="btn btn-list-item">选择文件</div>
            <div btntype="upload" class="btn btn-list-item">上传</div>
            <div btntype="delselect" class="btn btn-list-item">删除</div>
            <div btntype="cancel" class="btn btn-list-item">取消上传</div>
            <div btntype="checkall" class="btn btn-list-item checkbox checked">✓</div>
        </div>
        <ul class="file-list">
            <li class="file-list-item">
                <div class="preview">
                    <div class="preview-img"></div>
                </div>
                <div class="btn-file">
                    <div btntype="delone" class="btn btn-file-del">
                        <span btntype="delone" class="btn-file-del-text">X</span>
                    </div>
                    <div btntype="checkone" class="btn btn-file-checkbox checkbox checked">✓</div>
                </div>
                <div class="fileinfo">
                    <p class="fileinfo-text">
                        <span class="fileinfo-text-name">测试文件文件测试文件测试文件文件测件测试文件文件测件测试文件文件测件测试文件文件测试文件测试文件文件测试文测试文件测试文件文件测试文测试文件测试文件文件测试文测试文件测试文件文件测试文测试文件测试文件文件测试文件测试文件文件测试文件测试文件文件测试文件</span>
                        <span class="fileinfo-text-status">100%</span>
                    </p>
                    <div class="fileinfo-progress">
                        <div class="fileinfo-progress-bar"></div>
                    </div>
                </div>
            </li>
        </ul> -->
    </div>
    <div id="easy2" class="easy-upload" style="margin-top: 30px;">
    </div>
    <script src="<%= script %> "></script>
    <script>
        easyUpload({
            easyId: 'easy1',
            action: 'https://jsonplaceholder.typicode.com/posts/',
            accept: '.jpg,.png,.gif,.docx',
            maxSize: 0.5,
            setRequestHeader: function(xhr) {
                xhr.setRequestHeader('content-type', 'application/x-www-form-urlencoded');
            },
            buildSendData: function(file) {
                // var formData = new FormData(); // 发送格式为formData时
                // formData.append('name', file.file)
                // return formData;

                // return file.base64; //发送格式为base64时

                return null; //发送空数据，用于测试
            },
            checkSuccessCode: function(xhr) {
                if (/error/.test(xhr.responseText.toLowerCase())) { //这里判断仅仅用于测试，具体看项目
                    return false;
                } else {
                    return true;
                }
            }
        });

        //创建另个一实例如下
        easyUpload({
            easyId: 'easy2',
            action: 'https://jsonplaceholder.typicode.com/posts/',
            accept: '.jpg,.png,.gif,.docx',
            maxSize: 3,
            showLoading: true,
            setRequestHeader: function(xhr) {
                xhr.setRequestHeader('content-type', 'application/x-www-form-urlencoded');
            },
            buildSendData: function(file) {
                // var formData = new FormData(); // 发送格式为formData时
                // formData.append('name', file.file)
                // return formData;

                // return file.base64; //发送格式为base64时

                return null; //发送空数据，用于测试
            },
            checkSuccessCode: function(xhr) {
                if (/error/.test(xhr.responseText.toLowerCase())) { //这里判断仅仅用于测试，具体看项目
                    return false;
                } else {
                    return true;
                }
            }
        });
    </script>
</body>
</html>